/* Slideshow */
.slideshow_section {
  /* background-color: #6a0dad; */
  /* background: url("../../assets/minouVideo.mp4"); */
  position: relative;

  background: url("../../assets/b.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 30;

  padding: 80px 0;
}
.slideshow_section_header {
  color: white;
  /* background-color: white; */
  font-size: 30px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 20px 0;
  font-family: "Merienda One", cursive;
}
@media screen and (max-width: 480px) {
  .slideshow_section_header {
    font-size: 20px;
  }
}
.slideshow_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.325);

  z-index: -1;
}
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  width: 900px;
}
.slideshowSlider {
  white-space: nowrap;
  transition: cubic-bezier(0.25, -0.21, 0.85, 1.25) 2000ms;
  width: 300px;
  /* height: 400px; */
}
@media screen and (max-width: 1024px) {
  .slideshow {
    width: 600px;
  }
  .slideshowSlider {
    width: 200px;
  }
}
@media screen and (max-width: 769px) {
  .slideshow {
    width: 400px;
  }
  .slideshowSlider {
    width: 200px;
  }
}
@media screen and (max-width: 480px) {
  .slideshow {
    width: 350px;
  }
  .slideshowSlider {
    width: 175px;
  }
}

@media screen and (max-width: 320px) {
  .slideshow {
    width: 200px;
  }
  .slideshowSlider {
    width: 200px;
  }
}
.slide {
  display: inline-block;

  border-radius: 40px;

  margin: 5px;

  background-color: rgba(255, 255, 228, 0.747);
  padding: 10px;
}
.slideshow_image {
  height: 100%;
  width: 100%;

  border-radius: 20px;
}
.slideshow_image_Title {
  margin: 10px;
  color: var(--pink-color);
  font-family: var(--font-main);
  text-align: center;
}
.slideshow_image_Price {
  font-size: 15px;

  transition: 0.5s;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;

  font-weight: bold;
  text-align: center;
  font-family: var(--font-main);
}

@media screen and (max-width: 769px) {
  .BestSeller_Card .slideshow_image_Price {
    scale: 80%;
    padding: 5px 10px;
  }
}
/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: var(--pink-color);
}
