.cartItem_container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin: 10px;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  flex-wrap: wrap;
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
  .cartItem_container {
    scale: 80%;
    margin: -30px;
  }
}
@media (max-width: 480px) {
  .cartItem_container {
    flex-direction: column;
    text-align: center;
    padding: 30px 0;
  }
}
.cartItem_container .cartItem_img-container {
  width: 150px;
  border-radius: 25px;
  overflow: hidden;
}
.cartItem_container .cartItem_img-container img {
  width: 150px;
}
.cartItem_Details {
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.description_text {
  margin: 10px;
}
.countHandler {
  display: flex;
  text-align: center;
  justify-content: center;
}
.countHandler input {
  text-align: center;
  width: 50px;
  /* margin: 0 20px; */
  border: none;
  background: transparent;
}
.countHandler span {
  text-align: center;
  padding: 10px 40px;
  font-size: 30px;
}
.description_text .cartItem_Price span {
  color: var(--pink-color);
}
