/*start product__section */
.Product_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
  padding: 30px;
}
@media screen and (max-width: 769px) {
  .Product_container {
    margin: 5px;
    padding: 10px;
  }
}
.Product_container:hover {
  transition: 0.3s ease-in;
  cursor: pointer;
}

.product_img-container {
  overflow: hidden;
  border-radius: 10px;
}
.product_img-container img {
  border-radius: 10px;
  width: 100%;

  transform: scale(1.1, 1.1);
  transform-origin: center;
  transition: 0.5s;
}
.product_img-container:hover img {
  width: 100%;
  transition: 0.5s;
  transform: scale(1.2, 1.2);
}
.Product_container .description {
  text-align: center;
}

.Product_container .product_Title {
  font-size: 18px;
  margin: 5px 0;
  color: var(--pink-color);
}
.Product_container:hover .product_Title {
  border-bottom: 2px solid var(--pink-color);
}
@media (max-width: 1024px) {
  .Product_container .product_Title {
    font-size: 15px;
  }
}
@media screen and (max-width: 769px) {
  .Product_container .product_Title {
    font-size: 15px;
  }
}
.product_Description {
  font-size: 10px;
}
@media screen and (max-width: 769px) {
  .Product_container .product_Description {
  }
}
.Product_container .product_Price {
  transition: 0.5s;
  cursor: pointer;
  border-radius: 10px;

  font-weight: 600;
  text-align: center;
  font-family: var(--font-roboto);
  margin: 20px;
}
@media screen and (max-width: 1024px) {
  .Product_container .product_Price {
    font-weight: 600;
    font-size: 10px;
    margin: 15px;
  }
}
@media screen and (max-width: 769px) {
  .Product_container .product_Price {
    font-weight: 600;
    font-size: 10px;
    margin: 10px 0;
    font-size: 0.9rem;
  }
}
.Product_container:hover .product_Price {
  transform: translateY(-3px);
  transition: 0.5s;
}
@media screen and (max-width: 769px) {
  .product_button {
    width: 50px;
    padding: 5px;
    font-size: 0.6rem;
    letter-spacing: 0.04em;
    line-height: 10px;
  }
}
.product_buttons_handler {
  display: flex;
  flex-direction: row;
}
/*end product__section */

.product_countHandler {
  display: flex;
  text-align: center;
}
.product_countHandler input {
  text-align: center;
  width: 40px;
  border: none;
}
.product_countHandler span {
  text-align: center;
  padding: 10px 30px;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .product_countHandler input {
    width: 20px;
  }
  .product_countHandler span {
    padding: 10px 20px;
  }
}
