.VideoSection {
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--pink-color);
}

.VideoSection .videobg video {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  width: 100vh;
  height: 100vh;
  width: min-content;
  orientation: portrait;
  /* display: none; */
}
@media screen and (max-width: 650px) {
  .VideoSection .videobg video {
    width: min-content;
  }
}
/* 
.VideoSection .videomain video {
  width: 100%;
}
@media screen and (max-width: 650px) {
  .VideoSection .videomain video {
    width: min-content;
  }
} */
